@import 'vars';
@import 'global';
@import 'fonts';


.bg_top{
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 724px;
  z-index: -1;
}

// start section product

.product{
  padding-bottom: 55px;
  padding-top: 0;
  color: #fff;
}
.product__info{
  margin-top: 224px;
  max-width: 530px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__info_item{
  max-width: 150px;
  margin-bottom: 22px;
  &:nth-child(2){
    max-width: 110px;
  }
}
.product__info_title{
  display: flex;
}
.product__info_title_lc{
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
}
.product__info_title_rc{
    padding-top: 11px;
    margin-left: 11px;
    font-size: 14px;
    line-height: 16px;
    span{
      display: block;
    }
}
.product__info_text{
  margin-top: 7px;
  font-size: 14px;
  line-height: 16px;
  padding-right: 46px;
  font-weight: normal;
}

// end section product

//start section advantages

.advantages{
  position: relative;
  padding-top: 90px;
  padding-bottom: 63px;
  .advantages__arrows{
    bottom: 52px;
  }
  .slick-dots li{
    z-index: 3;
  }
  .slick-dots li.slick-active{
    background: rgba(84, 197, 176, 0.4);
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.1);
  }
  .slick-dots .slick-active:before{
    background: #54C5B0;
  }
  .slick-dots li:before{
    background: #aaa;
  }
  .slick-dots{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-prev,
  .slick-next{
    position: relative;
    background: #F3F3F3;
    border-radius: 4px;
    width: 34px;
    height: 34px;
    top: 0;
    left: 95px;
    font-size: 6px;
    z-index: 10;
    &:hover{
      background: #54C5B0;
    }
    span{
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -4px;
      font-size: 10px;
      &::before{
        content: "\e93b";
        color: #000;
      }
    }
  }
  .slick-next:hover .icon-angle-right::before,
  .slick-prev:hover .icon-angle-right::before{
    color: #fff;
  }
  .slick-prev{
    right: 95px;
    left: unset;
    span{
      transform: rotate(180deg);
      right: 13px;
      margin-top: -5px;
    }
  }
}
.advantages__title{
  margin-bottom: 62px;
  text-align: center;
}
.advantages__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 996px;
  justify-content: space-between;
}
.advantages__item{
  max-width: 277px;
  text-align: center;
  margin-bottom: 56px;
  img{
    margin: 0 auto;
  }
}
.advantages__icon{
  font-size: 65px;
}
.advantages__item_title{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 12px 0;
}
.advantages__item_text{
  font-size: 14px;
  line-height: 16px;
  color: #aaa;
}

//end section advantages

// start section our_product

.our_product{
  background: #F3F3F3;
  padding-bottom: 83px;
  padding-top: 97px;
}
.our_product__title{
  text-align: center;
}
.our_product__text{
  text-align: center;
  margin: 0 auto 40px auto;
}
.our_product__desc{
  text-align: center;
  font-weight: 700;
  margin-bottom: 26px;
}
.our_product__item{
  display: flex;
  align-items: center;
  &:nth-child(even){
    flex-direction: row-reverse;
    .our_product__item_info{
      margin-right: 93px;
      margin-left: 0;
    }
  }
}
.our_product__item_info{
  margin-left: 103px;
  flex-shrink: 0;
}
.our_product__item_line{
  margin-bottom: 24px;
}
.our_product__item_title{
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 8px;
}
.our_product__item_count{
  font-size: 14px;
  line-height: 16px;
}
.our_product__item_link{
  margin-top: 20px;
  background: #54C5B0;
  color: #fff;
  text-align: center;
  padding: 20px 47px;
  position: relative;
  border-radius: 8px;
  font-size: 10px;
  letter-spacing: 0.25em;
  transition: all .2s;
  font-weight: 700;
  &:hover{
    box-shadow: 6px 3px 16px rgba(0, 0, 0, 0.3);
  }
  span{
    position: absolute;
    top: 50%;
    right: 10%;
    margin-top: -5px;
    font-size: 7px;
    color: #fff;
    &::before{
      content: "\e93b";
    }
  }
}
.our_product__item_two{
  display: none;
}

// end section our_product

// start section created

.created{
  padding: 95px 0;
}
.created__title{
  text-align: left;
}
.created_desc{
  margin-bottom: 60px;
}
.created__inner{
  display: flex;
  font-size: 14px;
  position: relative;
}
.created__item{
  position: relative;
  z-index: 3;
  width: 20%;
  &:last-child{
    .created__item_text{
      padding-right: 0;
    }
  }
  &:nth-child(4){
    .created__item_text{
      padding-right: 40px;
    }
  }
  &:hover .created__item_text{
    color: #aaa;
  }
  &.active{
    .created__item_num{
      background: #54C5B0;
      color: #fff;
    }
    .created__item_text{
      color: #333;
    }
  }
}
.created__item_num{
  margin-bottom: 30px;
  background: #F3F3F3;;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: 700;
}
.created__item_text{
  padding-right: 55px;
  line-height: 16px;
  color: #aaa;
}
.created__inner_line,
.created__inner_greenline{
  width: 98%;
  background: #E5E5E5;
  height: 1px;
  position: absolute;
  top: 12.5px;
  z-index: 1;
}
.created__inner_greenline{
  background: #54C5B0;
  width: 18%;
}

// end section created

// start section company

.company{
  padding-top: 95px;
  padding-bottom: 130px;
}
.company__title{
  display: none;
}
.company__inner{
  display: flex;
  align-items: center;
}
.company__img{
  max-width: 690px;
  border-radius: 10px;
  overflow: hidden;
}
.company__box{
  margin-left: 59px;
  max-width: 498px;
  flex-shrink: 0;
}
.company__box_title{
  font-size: 36px;
  line-height: 42px;
}
.company__box_text{
  margin-top: 24px;
  font-size: 16px;
  line-height: 19px;
}

// end section company

// start section delivery

.delivery{
  padding-top: 0;
  padding-bottom: 70px;
  position: relative;
}
.delivery__title{
  text-align: left;
}
.delivery__text{
  max-width: 379px;
  line-height: 19px;
  color: #aaa;
  margin-bottom: 40px;
}
.delivery__inner{
  max-width: 550px;
  display: flex;
  flex-wrap: wrap;
}
.delivery__item{
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  flex-basis: 170px;
  padding: 13px 55px 15px 15px;
  position: relative;
  min-height: 130px;
  margin-bottom: 21px;
  background-color: #fff;
  z-index: 3;
}
.delivery__item_title{
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 5px;
}
.delivery__item_text{
  font-size: 12px;
  line-height: 14px;
  color: #aaa;
}
.delivery__item_count{
  font-size: 14px;
  position: absolute;
  bottom: 17px;
  left: 15px;
}
.delivery__item_img{
  position: absolute;
  top: 13px;
  right: 11px;
}
.mlr19{
  margin-left: 19px;
  margin-right: 19px;
}
.delivery__icon{
  font-size: 26px;
}
.delivery__loc{
  position: absolute;
  top: -16px;
  right: 115px;
  z-index: 1;
}

// end section delivery

// start section brands

.brands{
  padding-bottom: 70px;
  position: relative;
  .slick-dots li{
    z-index: 3;
  }
  .slick-dots li.slick-active{
    background: rgba(84, 197, 176, 0.4);
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.1);
  }
  .slick-dots .slick-active:before{
    background: #54C5B0;
  }
  .slick-dots li:before{
    background: #aaa;
  }
  .slick-dots{
    margin-top: 30px;
  }
  .slick-prev,
  .slick-next{
    position: relative;
    background: #FFF;
    border-radius: 4px;
    width: 34px;
    height: 34px;
    top: 0;
    left: 95px;
    font-size: 6px;
    z-index: 10;
    &:hover{
      background: #54C5B0;
    }
    span{
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -4px;
      font-size: 10px;
      &::before{
        content: "\e93b";
        color: #000;
      }
    }
  }
  .slick-next:hover .icon-angle-right::before,
  .slick-prev:hover .icon-angle-right::before{
    color: #fff;
  }
  .slick-prev{
    right: 95px;
    left: unset;
    span{
      transform: rotate(180deg);
      right: 13px;
      margin-top: -5px;
    }
  }
}
.brands__title,
.brands__text{
  text-align: center;
}
.brands__text{
  margin-bottom: 35px;
}
.brands__slider_box{
  display: flex;
  min-height: 70px;
  align-items: center;
  padding-right: 140px;
}
.brands__arrows,
.advantages__arrows{
  position: absolute;
  bottom: 59px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

// end section brands


@import 'media';